<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ '/static/favicon.ico' | prepend: site.baseurl }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- css-->
  <link href="{{ '/static/css/main.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css"/>
  <link href="{{ '/static/css/normalize.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css"/>
  <link href="{{ '/static/css/skeleton.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css"/>
  <!-- js-->
  <script type="text/javascript" src="{{ '/static/js/main.js' | prepend: site.baseurl }}"> </script>

  <!-- font -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>