<header class="header center">
  <br>
  <div class="row headerContent">
    <div class="four columns" id="filler">
      &nbsp;
    </div>
    <div class="two columns" id="headerImg">
      <img src="{{ '/static/img/me.jpg' | prepend: site.baseurl }}" title="A picture of me!" alt="No easter eggs here :("/>
    </div>
    <div class="four columns" id="headerText">
      <h2>Chris Jeakle</h2>
      <div id="headerDetails">
        A computer scientist interested in solving cool problems
      </div>
    </div>
    <div class="two columns" id="filler">
      &nbsp;
    </div>
  </div>
</header>
