<div id="navigation">
  <a href="javascript:toggleShow('navContent')">
    <h6 class="navHeader bold">Navigation &#9660;</h6>
  </a>
  <div class="navContent">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/education/">Education</a></li>
      <li><a href="/sudokusolver/">Solve Sudokus</a></li>
      <li><a href="/pingpong/">Play Ping-Pong</a></li>
      <li><a href="/about/">About</a>
    </ul>
    <br/>
    <h6 class="bold">External Links:</h6>
    <ul>
      <li><a href="http://www.nouncaptcha.com" target="_Blank">nouncaptcha</a></li>
      <li><a href="https://github.com/cjjeakle?tab=repositories" target="_Blank">My GitHub</a></li>
      <li><a href="http://www.linkedin.com/pub/christopher-jeakle/42/b14/a28" target="_Blank">My LinkedIn</a></li>
    </ul>
  </div>
</div>