<div id="navigation">
  <div class="navContent center">
    <ul>
      <li><a href="/">Home</a></li> // 
      <li><a href="/education/">Education</a></li> // 
      <li><a href="/projects/">Projects</a></li> // 
      <li><a href="/sudokusolver/">Solve Sudokus</a></li> // 
      <li><a href="/pingpong/">Play Ping-Pong</a></li> // 
      <li><a href="/about/">About</a>
    </ul>
    <ul>
      <li><a href="https://github.com/cjjeakle">My GitHub</a></li> // 
      <li><a href="http://www.linkedin.com/pub/christopher-jeakle/42/b14/a28">My LinkedIn</a></li>
    </ul>
  </div>
</div>