/**
 * Overrides
 */
br {
    line-height: 75%;
}


/**
 * Utilities
 */
.min-width {
    display: inline-block;
}

.bold {
    font-weight: bold;
}



/**
 * header
 */
.header {
    border-top: 5px solid darkGray;
    border-bottom: 1px solid lightGray;
}



/**
 * footer
 */
.footer {
    //border-top: 1px solid lightGray;
}


/**
 * Buttons
 */
.btn {
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
    overflow: hidden;
    background: #CCC;
    color: #000;
    border-radius: 2px;
    padding: 0.00em 0.10em 0.10em 0.10em;
    border: 1px solid transparent;
}

.btn:hover {
    color: #000;
    border-color: rgba( 0, 0, 0, 0.85 );
    background: #777;
}

.center {
    float: center;
    text-align: center;
}



/**
 * Header
 */
#headerImg {
    margin-right: 15px;
    float: left; 
}

#headerImg img {
    height: 90px;
}

#headerText {
    display: inline-block;
    float: bottom;
    text-align: left;
    height:auto;
    width: auto;
    margin-top: 1em;
    margin-bottom: 0em;
}

#headerText h2{
     line-height:0%;
}

#headerDetails {
    line-height: 1.6em;
}



/**
 * Navigation Menu
 */
#navigation {
    border-right:1px solid #666767;
    padding-right: 1em;
    text-align: right;
}

#navigation ul {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type:none;
}

#navigation a {
    text-decoration:none;
    color:#666767;
    outline:none;
    line-height: 200%;
}

#navigation a:hover {
    color:#000;
}