.board {
  float:left;
  border: 0px;
  width: 2em;
  height: 2em;
  text-align:center;
}

.table {
  text-align:center;
  border-collapse:collapse;
}

.cell{
  text-align:center;
  width: 2em;
  height: 2em;
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0.1em;
}
.boldT {
  border-top: 2px solid;
}
.boldL {
  border-left: 2px solid;
}
.plainB {
  border-bottom: 1px solid;
}
.plainR {
  border-right: 1px solid;
}

.table input {
  width: 100%; 
  height: 100%;
  border: 0px;
  margin: 0px;
}