.board {
  float:left;
  border: 0px;
  width: 2em;
  height: 2em;
  text-align:center;
}

.table {
  text-align:center;
  border-collapse:collapse;
}

.cell{
  text-align:center;
  width: 2em;
  height: 2em;
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0.1em;
}
.boldT {
  border-top: 2px solid;
}
.boldL {
  border-left: 2px solid;
}
.plainB {
  border-bottom: 1px solid;
}
.plainR {
  border-right: 1px solid;
}

/*
Input type "tel" is used as a hack, as it avoids the cumbersome WebKit number input UI.
It also invokes a convenient numbers only input on most smart phones.
*/
.table input[type="tel"],
.table input[type="number"] {
  width: 100%; 
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
