<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      
      {% include navigation.html %}
      
      <div class="row">
        <div class="container">
          
          <div class="large-7 small-12 columns">
            <div id="content">
              {{ content }}
            </div>
          </div>
          <div class="large-2 small-12 columns">&nbsp;</div>
        </div>
      </div>

      <div class="page-content">
        <div class="wrapper">
          
        </div>
      </div>
    
    </div>
    {% include footer.html %}

  </body>

</html>
